<style>
    table{
        border-collapse: collapse;
        width:600px;
        margin: auto;
    }
    tr,td,th{
        border: 1px solid gray;
    }
    button{
        background-color: gray;
        height: 30px;
        width: 60px;
    }

</style>
<h3></h3>
<hr>
<div>
  <!--  2.查询  ng-model-->
    按照姓名：<input type="text" ng-model="clazz1.name">
    按照年龄：<input type="text" ng-model="clazz1.age">
    按照性别查找<select ng-model="clazz1.gender">
    <option value="man">男</option>
    <option value="female">女</option>
</select>
    <table class="stuTbl">
        <thead>
        <tr>
            <th>选择</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="clazz in clazzData|filter:clazz1">
            <td><input type="checkbox" value="{{clazz.id}}"></td>
            <td>{{clazz.name}}</td>
            <td>{{clazz.age}}</td>
            <td>{{clazz.gender == 'man'?'男':'女'}}</td>
            <td ><button value="{{clazz.id}}">删除</button></td>
        </tr>
        </tbody>
    </table>
    <div>
        <button ng-click="addClazz()">添加</button>&nbsp;
        <button ng-click="delCheckedClazz()">删除</button>&nbsp;
        <button ng-click="changeClazz()">修改</button>&nbsp;
    </div>

</div>