@charset "utf-8";
/*common reset,20150609,louis*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,button,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline;background:transparent;max-height:999999px}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,textarea{line-height:1;font-family:'adihausregular','黑体',Arial,Helvetica,Verdana,sans-serif;color:#000}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-spacing:0;resize:none}
input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;outline:0}
html,body{height:100%;font-size:13px}
strong{font-weight:bold}
th{text-align:left}
address, cite, dfn, em, var{font-style:normal}
code, kbd, pre, samp, tt{font-family:"Courier New", Courier, monospace}
small{font-size:12px}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
h1,h2,h3,h4,h5,h6{font-weight:lighter;font-size:inherit}
a{cursor:pointer;text-decoration:none;color:#000}
a:focus{outline:none}
a:active,a:hover{outline:0}
a:hover{color:#025f8e}
abbr[title], acronym[title]{border-bottom:1px dotted;cursor:help}
legend{color:#333}
fieldset, img{border:none}
button, input, select, textarea{outline:0}
input,textarea,select{-webkit-border-radius:0px;border-radius:0px;-webkit-appearance:none}
input, select{vertical-align:middle}
input::-ms-clear{display:none}
input:focus{outline:none}
img{vertical-align:middle}
button{cursor: pointer}
body{position:relative}
[class^="icon-"], [class*="icon-"]{display:block;font-family:'icomoonregular'!important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

/*common namespace:cClear,20150605,louis*/
.cf{clear:both;zoom:1}
.cf:before,.cf:after{content:"";display:block;overflow:hidden}
.cf:after{clear:both}

/*common namespace:cFloat,20150605,louis*/
.fl{float:left}
.fr{float:right}

/*common margin,padding,width namespace:mtrblNum,ptrblNum,wNum*/
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mtb20lrauto{margin:20px auto}
.mt30{margin-top:30px}
.mt40{margin-top:40px}
.mt50{margin-top:50px}
.mt60{margin-top:78px}
.mt110{margin-top:118px!important}
.mr5{margin-right:5px}
.mr80{margin-right:80px}
.ml10{margin-left:10px}
.ml20{margin-left:20px}
.ml45{margin-left:45px}
.ptb10{padding:10px 0 10px}
.pl20{padding-left:20px}
.pl150{padding-left:150px}
.w130{width:130px}
.w480{width:480px}
.w198{width:198px}
.w185{width:185px}
.w115{width:115px}
.w320{width:320px}
.w120{width:120px}
.w200{width:200px}
.w250{width:250px}
.w150{width:150px}
.w160{width:160px}
.w500{width:500px}
.w700{width:700px}
.w140{width:140px}
.w145{width:145px}
.w70{width:70px}
.w65{width:65px}

/*font color,font-size,20150728,sww*/
.colorMidBlue{color:#0286cd}
.colorfff{color:#fff}
.font24{font-size:24px}
.font18{font-size:18px}
.font16{font-size:16px}
.textUnderLine{text-decoration:underline}

/*common sprite,sww,20150715*/
.country a.link-country-shop:before,.footTel span.first:before,.closeSearch,.footContry:before,.weibo,.weixin,.iconGo:before,.goBack:before,.correctInput:before,.errorInput:before,.iconSearch,.selectNav em,.radioBox .radio-view-em,.checkBox .radio-view-em.cur:before,.noUi-handle,.btnArrow:after,.flex-direction-nav a,.loginedNav a:before,.footWWPop .wrapper:after,.weixinLogo:after,.weiboLogo:after,.headCategory a:after,.headCategory a:before, .headCategory span:after, .headCategory span:before, .nextPage,.btnAddBag:after,.prevH,.nextH,.registerStp span:before,.popCloseBtn,.successOption,.carouselImages-prev,.carouselImages-next,.helpTips:before,.alertBox:before,.guide ul,.footContry a:before{background:url('../imgs/common_sprite.png') no-repeat;content:''}
/*common rating,20150727,sww*/
.ratingS,.ratingB{background:url('../imgs/rating_sprite.png') no-repeat;content:''}
.ratingS{width:60px;height:9px;display:block;padding-left:65px}
.ratingS a{color:#0286cd;font-size:12px;vertical-align:top}
.ratingS0{background-position:-2px -162px}
.ratingS0_5{background-position:-2px -300px}
.ratingS1{background-position:-2px -148px}
.ratingS1_5{background-position:-2px -313px}
.ratingS2{background-position:-2px -134px}
.ratingS2_5{background-position:-2px -326px}
.ratingS3{background-position:-2px -120px}
.ratingS3_5{background-position:-2px -339px}
.ratingS4{background-position:-2px -176px}
.ratingS4_5{background-position:-2px -352px}
.ratingS5{background-position:-2px -190px}
.ratingB{width:96px;height:15px;display:block;vertical-align:middle;text-indent:-9999px}
.ratingB0{background-position:-2px -100px}
.ratingB0_5{background-position:-2px -205px}
.ratingB1{background-position:-2px -80px}
.ratingB1_5{background-position:-2px -224px}
.ratingB2{background-position:-2px -60px}
.ratingB2_5{background-position:-2px -243px}
.ratingB3{background-position:-2px -40px}
.ratingB3_5{background-position:-2px -262px}
.ratingB4{background-position:-2px -20px}
.ratingB4_5{background-position:-2px -281px}
.ratingB5{background-position:-2px 0}


/*common product sprite,20150722,shadow*/
.productTile .addCart span,.productTileWrapper .closeButton,.colorCarousel .flex-direction-nav a,.lngTitle{background:url(../imgs/product_sprite.png) no-repeat}

/*common a hover,sww,20150715*/
.hfNavDetail a:hover,.hfBottom a:hover,.headProTit a:hover,.headProTxt a:hover{text-decoration:underline}

/*common form,20150721,sww*/
.formLeft{display:inline-block;width:130px;text-align:right;margin-right:20px}
/** input **/
.commonInputBox{position:relative}
.textInput{box-shadow:none;width:100%;height:40px;border:1px solid #c8cbcc;font-size:13px;padding:0 10px;line-height:40px;overflow:hidden}
.textareaInput{resize:none;box-shadow:none;width:100%;height:160px;border:1px solid #c8cbcc;font-size:13px;padding:10px 10px;line-height:20px;overflow:hidden}
.commonInputBox.h30 .textInput{height:30px;line-height:30px}
.textInput:focus,.textareaInput:focus{border-bottom:3px solid #000;padding-top:2px}
.correctInput .textInput{border-bottom:3px solid #ccffcc;padding-top:2px}
.errorInput .textInput,.errorInput .textareaInput{border-bottom:3px solid #ff6d6d;padding-top:2px}
.textInput.disabled{background:#ebebeb;color:#9a9b9b}
.correctInput:before{background-position:-104px 0;width:20px;height:15px;position:absolute;top:13px;right:10px}
.errorInput:before{background-position:-15px -24px;width:15px;height:15px;position:absolute;top:13px;right:10px}
.h30.errorInput:before,.h30.correctInput:before{top:8px}
.iconSearch{background-position:0 -48px;width:26px;height:26px;position:absolute;top:7px;right:10px;text-indent:-9999px}
.iconGo{background:#000;height:36px;width:36px;display:block;position:absolute;right:2px;top:2px;text-indent:-9999px;text-align:center}
.iconGo:before{background-position:-89px 0;width:11px;height:20px;display:block;margin:7px 13px}
.errormessage{display:none;min-height:1px;padding-top:2px;font-size:12px;line-height:14px;color:#ff6d6d;min-width:150px}
.errorInput .errormessage{display:block}
.errorSelect .errormessage{position:absolute;top:40px;display:block}
.errorSelect.h30 .errormessage{top:30px}
.copySelectSize.errorSelect .selectBox,.copySelect.errorSelect .selectBox{border-bottom:3px solid #ff6d6d;margin-bottom:20px}

/** select,20150722,sww**/
.copySelect{position:relative;height:40px}
.pdpSuggestSlides .copySelect{z-index: 10}
.copySelect.h30,.copySelect.h30 select,.copySelect.h30 .selectVal,.copySelect.h30 .selectNav,.copySelect.h30 .selectBox{height:30px}
.copySelect.h30 .optionBox span{height:25px;line-height:25px}
.copySelect.h30 .selectVal{line-height:30px}
.copySelect.h30 .selectNav em{margin:12px auto 0}
.copySelect select,.copySelectSize select{position:absolute;top:0;left:0;height:40px;width:100%;display:none}
.selectBox{position:relative;border:1px solid #c8cbcc;width:100%;height:40px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;padding:0 10px}
.selectBox.on{border-bottom:3px solid #000}
.selectBox.error{border-bottom:3px solid #ff6d6d}
.selectVal{text-transform:uppercase;height:40px;line-height:40px;color:#333;min-width:50px;overflow:hidden;cursor:default}
.selectNav{position:absolute;right:0;top:-1px;height:40px;width:35px;z-index:0}
.selectNav em{display:block;width:15px;height:10px;margin:17px auto 0;background-position:-128px 0}
.selectBox.on em{background-position:-144px 0}
.selectDisabled .selectNav em{background-position:-128px -12px}
.selectBox select{position:absolute;top:0;left:0;width:100%;opacity:0;filter:alpha(opacity=0);z-index:1}
.optionBox{z-index:3;width:100%;max-height:240px;position:absolute;left:0;top:0;overflow:auto;border:1px solid #aaa;background:#fff;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
.optionBox span{display:block;height:29px;line-height:29px;padding:0 10px;background:#fff;cursor:pointer}
.optionBox span.cur{border-bottom:3px solid #000;color:#000}
.optionBox span:hover{border-bottom:3px solid #025f8e;color:#025f8e}
.copySelectSize{width:232px;margin-right:10px;position:relative}
.copySelectSize .optionBox{display:none;border:1px solid #c8cbcc;padding:10px 0 0 10px;position:absolute;top:39px;background:#fff;width:310px;z-index:3}
.copySelectSize .optionBox span{float:left;border:1px solid #ababab;min-width:36px;height:36px;text-align:center;line-height:36px;text-transform:uppercase;font-size:12px;margin:0 6px 10px 0}
.copySelectSize .optionBox span:hover{color:#0286cd;border:1px solid #0286cd;border-bottom:3px solid #0286cd}
.copySelectSize .optionBox span.cur{font-weight:bold;border:1px solid #000;border-bottom:3px solid #000;color:#000}
.copySelectSize .selectBox.on{border-bottom:none;background:#fff;z-index:5}
.disableOverlay{background-color:transparent;position:absolute;top:0;left:0;width:100%;height:100%;padding-top:48px;color:#c53622;font-size:12px;z-index:1;display:none}
.noInventoy{position:absolute;top:48px;left:0;width:100%;color:#c53622;font-size:12px;z-index:1;display:none}
.selectDisabled .disableOverlay{display:block}

/**radio checkbox,20150722,sww**/
.radio-view{cursor:pointer;position:relative;width:24px;height:24px;left:0;top:0;overflow:hidden;display:inline-block;vertical-align:middle;float:left}
.radio-view input[type="radio"],.radio-view input[type="checkbox"]{height:24px;width:24px;position:absolute;left:0;top:0px;filter:alpha(opacity=0);-moz-opacity:0;opacity:0}
.radioBox .radio-view-em{background-position:-29px -48px}
.checkBox .radio-view-em{border:1px solid #c8cbcc}
.checkBox .radio-view-em.cur{background:#000;border:none}
.checkBox .radio-view-em.cur:before/*,.checkBox p:hover .radio-view-em:before*/{background-position:-112px -24px;width:16px;height:11px;display:block;position:absolute;top:6px;left:5px}
.radio-view-em{display:block;width:24px;height:24px;background:rgba(0,0,0,0);position:relative;z-index:1}
.radioBox .radio-view-em.cur{background-position:-29px -74px}
.radioBox .disabled .radio-view-em{background-position:-82px -48px}
.checkBox .disabled .radio-view-em{background:#c8cbcc}
/*.radioBionic p:hover,.radioBionic p:hover a{color:#025f8e}
.radioBox p:hover .radio-view-em{background-position:-56px -74px}
.checkBox p:hover .radio-view-em{background:#025f8e;border:none}
.checkBox p.disabled:hover .radio-view-em{background:#c8cbcc;border:none}
.checkBox p.disabled:hover .radio-view-em:before{background:none}
.radioBox p.disabled:hover,.checkBox p.disabled:hover{color:#000}
.radioBox p.disabled:hover .radio-view-em{background-position:-82px -48px}*/
.radioBionic span{vertical-align:middle;height:24px;line-height:24px;cursor:pointer}

/**Button**/
.btnCommon{font-size:14px;padding:13px 0;color:#fff;display:block;text-align:center;min-width:50px;position:relative;z-index:1}
.btnBlueLinear{background:#025f8e;background:-moz-linear-gradient(left,#025f8e,#0286cd);background:-webkit-linear-gradient(left,right,#025f8e,#0286cd);background:-webkit-linear-gradient(left,#025f8e,#0286cd);background:-o-linear-gradient(left,#025f8e,#0286cd);background:-ms-linear-gradient(left,#025f8e,#0286cd);background:linear-gradient(to right,#025f8e,#0286cd);filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#025f8e,endColorStr=#0286cd,GradientType=1);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#025f8e, endColorstr=#0286cd, GradientType=1)"}
.btnGrayLinear{background:#9a9b9b;background:-moz-linear-gradient(left,#9a9b9b,#cecece);background:-webkit-linear-gradient(left,right,#9a9b9b,#cecece);background:-webkit-linear-gradient(left,#9a9b9b,#cecece);background:-o-linear-gradient(left,#9a9b9b,#cecece);background:-ms-linear-gradient(left,#9a9b9b,#cecece);background:linear-gradient(to right,#9a9b9b,#cecece);filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#9a9b9b,endColorStr=#cecece,GradientType=1);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#9a9b9b, endColorstr=#cecece, GradientType=1)"}
.btnBlueYellowLinear{background:#025f8e;background:-moz-linear-gradient(left,#025f8e,#92d39f);background:-webkit-linear-gradient(left,right,#025f8e,#92d39f);background:-webkit-linear-gradient(left,#025f8e,#92d39f);background:-o-linear-gradient(left,#025f8e,#92d39f);background:-ms-linear-gradient(left,#025f8e,#92d39f);background:linear-gradient(to right,#025f8e,#92d39f);filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#025f8e,endColorStr=#92d39f,GradientType=1);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#025f8e, endColorstr=#92d39f, GradientType=1)"}
.btnMidBlue{background:#0286cd}
.btnDarkBlue{background:#025f8e}
.btnDarkGray{background:#474747}
.btnMidGray{background:#c8cbcc}
.btnMidBlue:hover,.btnDarkBlue:hover,.btnBlueLinear:hover,.btnBlueFilter:hover,.btnGrayLinear:hover,.btnDarkGray:hover,.btnBlueYellowLinear:hover{padding:11px 0;text-decoration:none;color:#fff}
.btnMidBlue:hover,.btnDarkBlue:hover,.btnBlueLinear:hover,.btnBlueFilter:hover,.btnBlueYellowLinear:hover{border:2px solid #025f8e}
.btnGrayLinear:hover{border:2px solid #9a9b9b}
.btnDarkGray:hover{border:2px solid #000}
.btnMidGray:hover{color:#fff}
.btnBlueFilter{background:rgba(2,134,205,0.7);color:#fff}
.btnAddBag:after{background-position:-110px -72px;width:22px;height:22px;display:inline-block;vertical-align:middle;margin:-2px 0 0 7px}
.btnLoading:after{background:url('../imgs/loadings.gif') no-repeat;height:22px;width:22px;display:inline-block;vertical-align:middle;margin:-2px 0 0 7px;content:''}
.btnArrow:after{position:relative;z-index:1;background-position:-160px 2px;width:22px;height:22px;display:inline-block;vertical-align:middle;margin:-2px 0 0 7px}
.btnBlueLinear:hover,.btnMidBlue:hover,.btnDarkBlue:hover{color:#fff}
.closeSearch{height:34px;width:34px;position:absolute;right:0;z-index:1;top:25px;background-position:-143px -136px;text-indent:-9999px;display:block}
.lablePreSale{display:none;margin-left:10px;position:relative;top:4px;left:0;background:url(../imgs/lable_presale.jpg) no-repeat;width:34px;height:20px}
.lablePreSale.show{display:inline-block}

/**range slider**/
.rangePrice{margin-top:20px}
.rangePriceIn{height:30px;line-height:30px;border:1px solid #c8cbcc;font-size:14px;color:#616363;padding:0 10px}
.rangePrice span{float:left}
.rangePriceIn input{display:inline-block;margin-left:3px;margin-top:-4px;border:none;width:58px;height:25px;line-height:25px;color:#616363}
.rangeDilivd{margin:7px 3px}



/*common column,namespace:colNum,20150721,sww*/
.column,.col3-1,.col4-1{float:left}
.column.fr{float:right}
.col3-1{margin-right:40px;width:680px}
.col2,.col3,.col4,.col5,.col6{float:left;padding:16px 0 0 0;margin-right:10px}
.col1{width:950px}
.col2{width:470px}
.col3{width:310px}
.col4{width:230px}
.col4-1{width:710px;margin-right:10px}
.col5{width:182px}
.col5-1{width:740px}
.col6{width:150px}
.col5.last,.col3.last,.col2.last,.col4.last,.col6.last,.col3-1.last{margin-right:0}
.wrapper{width:950px;margin:0 auto}
.leftAside{width:220px;margin-right:20px}
.rightAside{width:710px}
.widthLine{border-left:1px solid #c8cbcc;padding-left:10px;height:285px}
.clp .col2, .clp .col3, .clp .col4{position:relative;padding:0}

/**header sprite,sww,20150714**/
.headIconBtn,.headSearchBtn:before,.headSearchIcon{background:url('../imgs/header_sprite.png') no-repeat;content:'';}
.headIconBtn{display:block;width:48px;height:56px;overflow:hidden}

/*common header footer namespace:hf,siweiwei,20150714*/
.hfNavDetail a{display:block;margin-bottom:10px;font-size:13px}
.hfSubNavTit{margin-bottom:15px;font-size:16px;font-weight:bold}
.hfSubNavTit a{font-size:16px;font-weight:bold}
.hfSubNavTit img{vertical-align:top}
.hfBottom a{display:block;border-top:1px solid #c8cbcc;padding-top:10px;font-size:13px}
.hfBottom{margin:20px 0}

/*common namespace:head,siweiwei,20150714*/
.headerBox{position:fixed;top:0;width:100%;z-index:1002}
.headSubBox{position:fixed;top:68px;width:100%;z-index:1001}
.headTop{background:#000;width:auto;height: 68px;padding-top:8px;}
.headCatLink{color:#fff;font-size:16px;font-weight: bold;}
.headCatLink:hover{color:#fff}
.headeNavCont{display:none;position:absolute;background-color:#fff;width:100%;white-space:normal;left:0;z-index:1000}
.headeNavCont:after{background:#c8cbcc;height:7px;border-bottom:1px solid #363738;display:block;content:''}
.headeNavOut{float:left;vertical-align:top;font-size:16px}
.headeNavContCar{display:none;position:absolute;background-color:#fff;width:100%;white-space:normal;left:0;z-index:1000}
.headeNavCont.splitted{width:550px;right:-48px}
.headeNavCont.logined{right:-48px;width:205px}
.headeNavContCar.emptyCart{right:0;width:205px}
.headeNavContCar.fullCart{right:0;width:320px}
.headeNavContCar.emptyCart,.headeNavCont.splitted,.headeNavCont.logined,.headeNavContCar.fullCart{left:auto;border:1px solid #bfbfbf;border-top:none;top:58px}
.headeNavContCar .headEmptyTxt{text-align:left;border-bottom:1px solid #c8cbcc;padding-bottom:10px}
.headNavBtn{line-height:45px;height:56px;text-align:center;cursor:pointer;color:#fff;padding:1px 5px 0;letter-spacing:1px;margin:3px 0 0}
.minicart,.headAccount,.headSearch{float:right;margin-top:1px;height:60px}
.headMidNav{width:558px;padding:0 0 0 15px;white-space:nowrap}
.headSearch{padding:10px 14px 0 0;margin:0;width:auto;color:#000;position:relative;height:48px;width:120px}
.headSearchBtn{position:relative;background:#fff;color:#000;cursor:pointer;display:inline-block;width:116px;height:30px;line-height:29px;padding:0 6px 0 32px;white-space:nowrap;text-align:center;text-transform:lowercase}
.headSearchBtn:before{display:block;content:'';background-position:0 0;height:30px;position:absolute;top:0;width:32px;left:0}
.headSearchBtn:hover,.headSearchBtn.hover{background:#0286cd;color:#fff}
.headSearchBtn:hover:before,.headSearchBtn.hover:before{background-position:0 -123px}
.headBrandImg{display:block;width:172px;height:80px;overflow:hidden}
.headBrandImg:hover{border-bottom:3px solid #000}
.headBrandNav .widthLine{height:250px}
.headSeachArea{position:absolute;top:68px;left:0;width:100%;background-color:#fff;border-bottom:2px solid #c8cbcc;display:none}
.headSeachInput{width:950px;margin:0 auto;position:relative}
.headSearchBox{width:950px;height:85px;line-height:85px;border:0;font-size:16px;color:#363738;padding:0 85px 0 42px;background:#fff;font-family:'adihausregular','黑体',Arial,Helvetica,Verdana,sans-serif}
.hover .headCatLink{color:#000}
.hover .headNavBtn,.minicart.hover,.headAccount.hover{background:#fff}
.headDivid{float:left;vertical-align:top;width:1px;margin:14px 5px 0;height:24px;background:#404040;text-indent:-9999px}
.headEmptyTxt{margin:10px 10px;text-align:center;font-size:16px}
.headEmptyTxt span,.headEmptyTxt span em{font-size:13px;color:#666}
.headEmptyTxt span em{display:inline-block;margin-right:3px;font-weight:bold}
.headEmptyTxt span{display:inline-block;margin-left:10px}
.headSeachList{width:950px;margin:24px auto;padding:0;position:relative}
.headSeachList:before{left:0;top:-24px;position:absolute;z-index:1;height:1px;background:#616363;width:5000px;margin-left:-2500px;content:''}
.headProTit a{display:block;margin-top:16px;font-size:13px}
.headSeachList .column{width:300px;margin-bottom:30px}
.headSearchBox{margin-bottom:10px}
.headSearchBox .headProTxt{margin-top:8px}
.headSearchBox .proPrice{margin-top:5px}
.headline{margin:0 0 24px;font-size:16px}
.headProImg{float:left;width:80px;height:80px;margin:0 10px 0 0}
.headProImg img{width:80px;height:80px}
.headProTxt{float:left;overflow:hidden}
.headProTxt a,.headProTxt span{display:block;line-height:18px;font-size:13px}
.headProTxt a{height:35px;overflow: hidden;width:200px}
.headProducts{margin-left:25px}
.headTotalPrice,.minicarBtn{margin:10px;font-size:15px}
.headTotalPrice{border-bottom:1px solid #c8cbcc;padding-bottom:10px}
.headTotalPrice em{text-align:right;font-size:20px;display:inline-block;width:253px;font-weight:bold}
.headProNum em{display:inline-block;margin:0 3px 0 0}
.headProNum em.headPrice{margin:0 3px}
.headaccountIcon{background-position:0 -30px;margin-top:3px}
.hover .headaccountIcon{background-position:0 -74px}
.headAccountLeft{float:left;vertical-align:top;font-size:12px;background-color:#ebebeb;width:368px;padding:20px}
.headAccountRight{float:left;vertical-align:top;padding:5px 15px 0;font-size:16px;overflow:hidden;width:180px}
.headAccountRight a{display:block;padding:15px 10px;margin:0 10px;border-bottom:1px solid #c8cbcc}
.headAccountRight a.last{border-bottom:none}
.headAccount,.minicart{position:relative}
.hadeFormfield{margin:10px 0}
.hadeFormfield span{margin-right:10px}
.hadeFormfield .btnCommon{margin:15px 0 20px}
.hadeFormfield p{float:left;margin-right:10px}
.headRegisTip{line-height:18px}
.headRegisTip a{color:#025f8e;display:inline-block;margin-right:5px}
.headRegisTip a:hover{text-decoration:underline}
.headCategory{background:#fff;height:40px;line-height:40px;width:100%;border-bottom:1px solid #b7b8b8;box-shadow:0 0 1px rgba(0,0,0,0.3)}
.headCategory .col4,.headCategory .col6{padding:0}
.headCategory .wrapper{padding-left:175px}
.headCategory a:before{height:23px;width:23px;display:inline-block;vertical-align:middle;margin-right:10px}
.headCategory a.headSaleNav:before{background-position:-110px -48px}
.headCategory a.headReplaceNav:before{background-position:-135px -48px}
.headCategory a.headRegistNav:before{background-position:-160px -48px}
.headCategory a:after{background-position:right -48px;width:12px;height:12px;display:inline-block;vertical-align:middle;margin:-2px 0 0 10px}
.miniNum{display:none;margin:3px 1px 0 0}
.minicarProBox{margin:0 10px 10px;font-size:13px}
.minicarProBox .headProTxt{width:208px}
.minicarProBox{border-bottom:1px dashed #c8cbcc;padding-bottom:10px}
.simplesearch{position:relative}
.headSearchIcon{position:absolute;left:0;top:30px;background-position:0 -157px;height:25px;width:25px;display:block;z-index:1;text-indent:-9999px}
.emailTips{font-size:18px;margin-bottom:20px;font-weight: bold;}
.formEmail>label{color:#363738;font-size:13px;margin-bottom:5px;display:block}
.customerName{display:block;margin:20px 10px 0;font-size:16px;border-bottom:1px solid #c8cbcc;padding-bottom:20px;font-weight:bold}
.loginedNav{margin:20px 10px 0}
.loginedNav a{display:block;margin-bottom:20px;font-size:13px}
.loginedNav a:before{background-position:right 0;width:16px;height:16px;display:inline-block;vertical-align:middle;margin:-2px 5px 0 0}
.adidasLogo{width:156px;height:48px;display:block;line-height:48px;margin-top:-2px}
.minicartNum{background-position:-48px -30px;margin-top:3px;line-height:44px;text-align:center}
.hover .minicartNum{background-position:-48px -74px}
.hover .minicartNum .miniNum{display:block;color:#fff}
.unilty{width:230px}
.minicarlistbox{position:relative;height:338px}
/*common footer namespace:foot,sww,20150715*/
.footBox{margin:60px 0 0 0;width:100%;position:relative}
.footLogo{margin:-4px 5px 0 -30px}
.footLogo.last{margin:-4px 5px 0 -60px}
.footTel{margin-top:30px;font-size:13px;border:1px solid #ebebeb;border-radius:3px;padding:5px;width:140px;text-align:center}
.footTel span{display:block;border-top:1px solid #ebebeb;padding-top:5px;margin-bottom:5px}
.footTel span.first{color:#0286cd;border-top:none;font-weight:bold}
.footTel span.first:before{background-position:0 0;width:15px;height:20px;display:inline-block;vertical-align:middle;margin:-4px 0 0 0}
.footBox .hfBottom{font-size:13px}
.footTop .second{width:465px;text-align:right;margin-top:6px}
.footTop .last.column{float:right;width:365px;position:relative}
.footTop{height:92px;padding:28px 0;background:#000}
.footTop .column{color:#fff;font-size:24px;font-weight: bold;}
.footMid{margin-top:30px}
.footBot{background:#363738;height:40px;line-height:40px}

.guide{position:relative}
.footContry{float:left;font-size:13px;padding:0 5px;width:140px}
.footContry.cur{background:#fff;border-left:1px solid #b3b3b3;border-right:1px solid #b3b3b3}
.footContry.cur a{color:#000}
.footContry:before{background-position:-16px 0;height:10px;width:15px;display:inline-block;vertical-align:middle;margin:-2px 10px 0 0}
.footContry a{display:inline-block;color:#c8cbcc;font-weight:bold;padding:0 10px 0 0}
.footContry a:before{background-position:-195px -334px;height:3px;width:5px;display:inline-block;float:right;margin:20px 0 0 8px}
.country{display:none}
.country .popupContentBox{width:942px;height:495px;padding:26px 20px 30px 20px;top:50%;margin-top:-267.5px;margin-left:-491px;text-align:left;box-shadow:0 0 25px #404040;-webkit-box-shadow:0 0 20px #404040;-moz-box-shadow:0 0 20px #404040}
.country span.title{color:#b2b2b2;font-size:18px;padding-left:25px}
.country .list{width:902px;margin-top:30px}
.country .list table{border-spacing:20px 0;border-collapse:separate}
.country .list table tr td{padding:10px 0 0;vertical-align:top;border-top: #b2b2b2 1px solid}
.country .list table tr td.last{border-top:border-top: #999 1px solid}
.country .list h2{color:#666;font-size:24px;line-height:26px;margin-bottom:24px;letter-spacing:-0.02ex;font-family:'adiNeueBold',Arial,Helvetica,Verdana,sans-serif}
.country .list ul{margin-top:10px;margin-right:15px;padding-bottom:10px}
.country .list  ul li{line-height:12px;list-style:none outside none;padding-bottom:5px;margin-top:5px}
.country .list  ul li a{font-size:11px;color:#226ebb;text-decoration:underline;font-family:arial,helvetica,sans-serif}
.country .list  ul li a:hover{color:#e83922;text-decoration: none}
.country .list  ul li a.link-country{font-weight:bold}
.country .list  ul li a.link-country-shop{position:relative;padding-left:15px;text-transform:uppercase}
.country .list  ul li a.link-country-shop:before{width:12px;height:11px;position:absolute;top:1px;left:0;background-position: -3px -337px}
.country .list  .country-divider{border-top:1px solid #b2b2b2;margin:15px 0 10px 0}


.footWWPop{display:none;background:#363738;position:absolute;z-index:3;width:100%;left:0;height:95px;top:-95px}
.footWWPop .wrapper:after{background-position:-136px -24px;width:26px;height:13px;display:block;position:absolute;top:95px}
.footWWPop .wrapper{position:relative}
.footPopWeixin.footWWPop .wrapper:after{left:40px}
.footPopWeixin.footWWPop .wrapper{padding-left:20px}
.footAttentionTxt{line-height:20px;margin:14px 0 0 20px}
.footAttentionTxt span{font-size:12px;color:#9a9b9b;display:block}
.footAttentionTxt a{display:block;margin-top:3px}
.copyRight{float:right;color:#c8cbcc;font-size:13px}
.copyRight a,.copyRight span{color:#c8cbcc;display:inline-block;margin-right:10px}
.copyRight a:hover{text-decoration:underline}
.weibo,.weixin{display:inline-block;width:27px;height:22px;text-indent:-9999px;vertical-align:middle}
.weixin{background-position:-32px 0;margin:6px 0 0 0}
.weixin:hover{background-position:-32px -24px}
.weibo{background-position:-60px 0;margin:6px 15px 0 0}
.weibo:hover{background-position:-60px -24px}
.weixinLogo:after,.weiboLogo:after{width:18px;height:15px;display:inline-block;vertical-align:middle;margin:0 0 0 5px}
.weixinLogo:after{background-position:-183px -24px}
.weiboLogo:after{background-position:-163px -24px}
.footWWNav{height:90px;line-height:90px;margin-top:-28px}

/*放大镜*/
.skuBox,.skuBox1{position:relative;cursor: none}
.skuBox{z-index:1;width:500px;margin-left:50px}
.skuImg,.skuImg .skuZoom{width:500px;height:500px}
  .skuOri{position:absolute;width:51px;height:50px;z-index:1;display:none;background:url('../imgs/cursor_zoom.png') no-repeat}
.skuImg .skuHover{position:absolute;width:87px;height:117px;z-index:1;display:none;background:url('../imgs/cursor_zoomed.png') no-repeat}
.skuImgSuper{position:absolute;left:-370px;top:0;width:370px;height:500px;overflow:hidden;display:none;z-index:6;border:6px solid #c8cbcc}
.skuImgSuper img{width:2000px;height:2000px}
.skuImgLoading{display:none;background:url('../imgs/loading.gif') no-repeat;width:64px;height:64px;position:absolute;margin:-32px 0 0 -32px;left:50%;top:50%;text-indent:-9999px}
#input-select,#input-number{padding:7px;margin:15px 5px 5px;width:70px}
/*common namespace:bcBox,sww,20150721*/
.bcBox{font-size:14px;width:950px;margin:10px auto}
.bcBox a,.bcBox h3{float:left;margin-right:10px}
.bcBox a:hover:after{text-decoration:none;color:#000}
.bcBox a:after{content:"/";display:inline-block;margin-left:10px}
.bcBox a:hover em{text-decoration:underline;color:#000}

.bcBox .goBack{border-right:1px solid #000;padding-right:10px}
.bcBox .goBack:after{content:'';margin-left:0}
.goBack:before{background-position:0 -24px;width:13px;height:13px;display:inline-block;vertical-align:middle;margin:-4px 10px 0 0}
.bcBox h3{color:#9a9b9b}
.bcBox h3:after{content:'';margin-left:0}

/*common icon,201507227,sww*/
.nextPage{background-position:-64px -136px;width:34px;height:34px;vertical-align:middle;text-indent:-9999px;margin-top:-5px}
.prevH,.nextH{width:26px;height:26px;position:absolute;display:block;text-indent:-9999px;z-index:1;top:120px}
.prevH{background-position:-72px -102px;left:10px}
.prevH.unable{background-position:-164px -102px}
.nextH{background-position:-132px -102px;right:10px}
.nextH.unable{background-position:-102px -102px}

/*popup,20150728,sww*/
.popBg{position:fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;opacity:.2;filter: alpha(opacity=20);background:#000;z-index:9998}
.popupContentBox{position:fixed;top:30%;left:50%;z-index:10;background-color:#fff;width:485px;padding:30px 30px 60px 30px;margin-left:-243px;text-align:center;z-index:9999}
.popCloseBtn{background-position:-152px -74px;text-indent:-9999px;position:absolute;right:0;top:-23px;width:23px;height:23px;display:block}
.successOption{background-position:-104px -136px;height:30px;width:36px;display:block;text-indent:-9999px;margin:20px auto}

/*scrollBar,20150730,sww*/
.jspContainer{overflow:hidden}
.jspPane{position:absolute}
.jspVerticalBar{position:absolute;top:0;right:4px;width:6px;height:100%}
.jspCap{display:none}
.jspHorizontalBar .jspCap{float:left}
.jspTrack{background:#ebebeb;position:relative;width:1px}
.jspDrag{background:#000;position:absolute;left:-2px;top:0;width:5px;height:8px}

/*common you also like,20150731,sww*/
.pdpSuggestBox{margin:45px auto -125px}
.pdpOtherTit{text-align:center;font-size:30px;font-family:"adi13wfBold","黑体"}
.pdpOtherTit em{display:block;font-size:14px;margin-top:10px}
.pdpSuggestSlides{width:1200%}
.pdpSuggestList{position:relative;overflow:hidden;height:545px;padding:26px 10px 10px 10px;margin:0 -10px}

/*help box,20150731,sww*/
.helpBox{background:#fff;padding:15px;border:10px solid #ebebeb;font-size:14px}
.helpDetail{display:block;margin:15px 0 0 15px}
.helpBox span{display:block;line-height:20px}
.helpImgBox{position:relative;margin-top:20px}
.helpImgTit{position:absolute;background:rgba(0,0,0,0.7);opacity:0.7;background:#000;filter:alpha(opacity=70);width:100%;bottom:0;left:0;height:46px}
.seeMoreLink{z-index:1;position:relative;height:46px;display:block;padding:15px 10px;margin-top:-46px;text-align:center;text-transform:uppercase;font-size:16px;color:#fff}
.seeMoreLink em{display:block;width:100%;overflow:hidden;height:16px;margin-bottom:10px}
.seeMoreLink a{display:block;color:#fff;font-size:14px;height:0;overflow:hidden}
.seeMoreLink a:hover{text-decoration:underline}

/**alert box**/
.alertBox{padding:20px;position:relative}
.alertBox:before{width:25px;height:25px;display:block;position:absolute;top:20px;left:20px;vertical-align:middle;background-position:right -175px}
.alertBoxSuccess.alertBox:before{background-position:-150px -175px}
.alertBoxTit{font-size:22px;margin:0 0 20px 45px}
.alertBoxCont{font-size:14px;margin:0 0 0 45px;display:block;line-height:22px}
.alertBoxWarning{background:#ffffcc;background:-moz-linear-gradient(top,#ffffcc,#ffffe4);background:-webkit-linear-gradient(top,bottom,#ffffcc,#ffffe4);background:-webkit-linear-gradient(top,#ffffcc,#ffffe4);background:-o-linear-gradient(top,#ffffcc,#ffffe4);background:-ms-linear-gradient(top,#ffffcc,#ffffe4);background:linear-gradient(to bottom,#ffffcc,#ffffe4);filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#ffffcc,endColorStr=#ffffe4,GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffcc, endColorstr=#ffffe4, GradientType=0)"}
.alertBoxError{background:#ff6d6d;background:-moz-linear-gradient(top,#ff6d6d,#f99494);background:-webkit-linear-gradient(top,bottom,#ff6d6d,#f99494);background:-webkit-linear-gradient(top,#ff6d6d,#f99494);background:-o-linear-gradient(top,#ff6d6d,#f99494);background:-ms-linear-gradient(top,#ff6d6d,#f99494);background:linear-gradient(to bottom,#ff6d6d,#f99494);filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#ff6d6d,endColorStr=#f99494,GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6d6d, endColorstr=#f99494, GradientType=0)"}
.alertBoxSuccess{background:#ccffcc;background:-moz-linear-gradient(top,#ccffcc,#e3fee3);background:-webkit-linear-gradient(top,bottom,#ccffcc,#e3fee3);background:-webkit-linear-gradient(top,#ccffcc,#e3fee3);background:-o-linear-gradient(top,#ccffcc,#e3fee3);background:-ms-linear-gradient(top,#ccffcc,#e3fee3);background:linear-gradient(to bottom,#ccffcc,#e3fee3);filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#ccffcc,endColorStr=#e3fee3,GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffcc, endColorstr=#e3fee3, GradientType=0)"}
.alertBoxInfo{background:#b8d3e8;background:-moz-linear-gradient(top,#b8d3e8,#d5dfe7);background:-webkit-linear-gradient(top,bottom,#b8d3e8,#d5dfe7);background:-webkit-linear-gradient(top,#b8d3e8,#d5dfe7);background:-o-linear-gradient(top,#b8d3e8,#d5dfe7);background:-ms-linear-gradient(top,#b8d3e8,#d5dfe7);background:linear-gradient(to bottom,#b8d3e8,#d5dfe7);filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#b8d3e8,endColorStr=#d5dfe7,GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#b8d3e8, endColorstr=#d5dfe7, GradientType=0)"}
.alertBoxContCenter{margin-top:16px}
.alertBoxContCenter.alertBox{padding:80px 120px}
.alertBoxContCenter.alertBox:before{top:80px;left:120px}
.alertBoxContCenter .btnCommon,.alertBoxContCenter .checkoutContinue{margin:30px 0 0 45px }
.alertBoxContCenter .checkoutContinue{font-size:14px;color:#0286cd;margin-top:18px;display:block}
.alertBoxContCenter .checkoutContinue:hover{text-decoration:underline}


/**commonLoading**/
.commonLoad{cursor:default;position:absolute;height:100%;width:100%;top:0;left:0;background-color:#fff;filter:alpha(opacity=50);-moz-opacity:.5;opacity:.5;z-index:9}
.commonLoad .loadImg{position:absolute;left:50%;top:50%;width:64px;height:64px;margin-left:-32px;margin-top:-32px;background:url('../imgs/loading.gif') center center no-repeat;z-index:10}
.commonMask{filter:alpha(opacity=0);-moz-opacity:0;opacity:0;position:absolute;top:0;left:0;z-index:0;width:100%;height:100%;text-indent:-99em}


/*range slider*/
/*! jQuery UI - v1.10.4 - 2015-07-14
* http://jqueryui.com
* Includes:jquery.ui.core.css, jquery.ui.slider.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CTahoma%2CVerdana%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=gloss_wave&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=highlight_soft&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=glass&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=glass&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=highlight_soft&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=diagonals_thick&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=diagonals_thick&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=flat&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
* Copyright 2015 jQuery Foundation and other contributors;Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden{display:none}
.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;:1px}
.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}
.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}
.ui-helper-clearfix:after{clear:both}
.ui-helper-clearfix{min-height:0;/* support:IE7 */}
.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}
.ui-front{z-index:100}

/* Interaction Cues----------------------------------*/
.ui-state-disabled{cursor:default !important}

/* Icons----------------------------------*/

/* states and images */
.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}

/* Misc visuals----------------------------------*/

/* Overlays */
.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}
.ui-slider{position:relative;text-align:left;width:184px;margin:-6px 9px 0 9px}
.ui-slider .ui-slider-handle{position:absolute;z-index:2;width:1.2em;height:1.2em;cursor:default}
.ui-slider .ui-slider-range{position:absolute;z-index:1;font-size:.7em;display:block;border:0;background-position:0 0}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,.ui-slider.ui-state-disabled .ui-slider-range{filter:inherit}

.ui-slider-horizontal{height:6px}
.ui-slider-horizontal .ui-slider-handle{top:-.3em;margin-left: -.6em}
.ui-slider-horizontal .ui-slider-range{top:0;height:100%}
.ui-slider-horizontal .ui-slider-range-min{left:0}
.ui-slider-horizontal .ui-slider-range-max{right:0}

.ui-slider-vertical{width:.8em;height:100px}
.ui-slider-vertical .ui-slider-handle{left:-.3em;margin-left:0;margin-bottom:-.6em}
.ui-slider-vertical .ui-slider-range{left:0;width:100%}
.ui-slider-vertical .ui-slider-range-min{bottom:0}
.ui-slider-vertical .ui-slider-range-max{top:0}

/* Component containers
----------------------------------*/
.ui-widget{font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;font-size:1.1em}
.ui-widget .ui-widget{font-size:1em}
.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;font-size:1em}
.ui-widget-content{background:#ebebeb}
.sliderBg{background:#ebebeb;height:6px;border-radius:4px;width:100%}
.ui-widget-content a{color:#333333}
.ui-widget-header{background:#0086cd}
.ui-widget-header a{color:#ffffff}

/* Interaction states
----------------------------------*/
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{background:url('../imgs/range_mod.png') no-repeat center center;width:13px;height:17px;display:block}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#1c94c4;text-decoration:none}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus,.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{background:url('../imgs/range_mod_hover.png') no-repeat center center;width:13px;height:17px;display:block}
.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited{color:#c77405;text-decoration:none}
.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#eb8f00;text-decoration:none}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #fed22f;background:#ffe45c url("images/ui-bg_highlight-soft_75_ffe45c_1x100.png") 50% top repeat-x;color:#363636}
.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#363636}
.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#b81900 url("images/ui-bg_diagonals-thick_18_b81900_40x40.png") 50% 50% repeat;color:#ffffff}
.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#ffffff}
.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#ffffff}
.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold}
.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}
.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}
.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35);/* For IE8 - See #6059 */}



/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:4px}
.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{border-top-right-radius:4px}
.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:4px}
.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-bottom-right-radius:4px}

/* Overlays */
.ui-widget-overlay{background:#666666 url("images/ui-bg_diagonals-thick_20_666666_40x40.png") 50% 50% repeat;opacity:.5;filter:Alpha(Opacity=50)}
.ui-widget-shadow{margin:-5px 0 0 -5px;padding:5px;background:#000000 url("images/ui-bg_flat_10_000000_40x100.png") 50% 50% repeat-x;opacity:.2;filter:Alpha(Opacity=20);border-radius:5px}


/*flexslider*/
/* Browser Resets */
.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus{outline:none}
.slides,.flex-control-nav,.flex-direction-nav{margin:0;padding:0;list-style:none}

/* FlexSlider Necessary Styles
*********************************/
.flexslider{margin:0;padding:0}
.flexslider .slides > li{display:none;-webkit-backface-visibility:hidden} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-pauseplay span{text-transform:capitalize}

/* Clearfix for the .slides element */
.slides:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
html[xmlns] .slides{display:block}
* html .slides{height:1%}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child{display:block}


/* FlexSlider Default Theme
*********************************/
.flexslider{margin:0 0 60px;background:#fff;position:relativezoom:1}
.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease}
.loading .flex-viewport{max-height:300px}
.flexslider .slides{zoom:1}

.carousel li{margin-right:5px}


/* Direction Nav */
.flex-direction-nav{*height:0}
.flex-direction-nav a{width:30px;height:30px;margin:-20px 0 0;display:block;position:absolute;top:50%;z-index:10;cursor:pointer;text-indent:-9999px;opacity:0;-webkit-transition:all .3s ease}
.flex-direction-nav .flex-next{background-position:-32px -136px;right:0}
.flex-direction-nav .flex-prev{background-position:0 -136px;left:0}
.flexslider:hover .flex-next{opacity:0.8;right:5px}
.flexslider:hover .flex-prev{opacity:0.8;left:5px}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{opacity:1}
.flex-direction-nav .flex-disabled{opacity:.3!important;filter:alpha(opacity=30);cursor:default}

/* Control Nav */
.flex-control-nav{width:100%;position:absolute;bottom:-40px;text-align:center}
.flex-control-nav li{margin:0 6px;display:inline-block;zoom:1;*display:inline}
.flex-control-paging li a{width:11px;height:11px;display:block;background:#666;background:rgba(0,0,0,0.5);cursor:pointer;text-indent:-9999px;-webkit-border-radius:20px;-moz-border-radius:20px;-o-border-radius:20px;border-radius:20px;box-shadow:inset 0 0 3px rgba(0,0,0,0.3)}
.flex-control-paging li a:hover{background:#333;background:rgba(0,0,0,0.7)}
.flex-control-paging li a.flex-active{background:#000;background:rgba(0,0,0,0.9);cursor:default}

.flex-control-thumbs{margin:5px 0 0;position:static;overflow:hidden}
.flex-control-thumbs li{width:25%;float:left;margin:0}
.flex-control-thumbs img{width:100%;display:block;opacity:.7;cursor:pointer}
.flex-control-thumbs img:hover{opacity:1}
.flex-control-thumbs .flex-active{opacity:1;cursor:default}


/**productTile,20150727,shadow**/
.addCartOverlay{background-color:#000000;display:none;height:100%;left:0;opacity:0.3;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);position:fixed;top:0;width:100%;z-index:2}
.productTile{float:left;margin:0 10px 42px 0;width:230px;height:335px;position:relative;background:#fff}
.productTileWrapper{position:absolute}
.productTile .image{display:block;text-align:center;width:230px;height:230px;position: relative}
.productTile .image img{max-width:100%}
.productTile .productInfo{color:#586268;font-size:14px;line-height:34px;height:34px}
.productTile .productLink{display:block;font-size:12px;line-height:18px;padding:10px 0;height:56px;overflow:hidden;border-top:1px dotted #666}
.productTile .price{font-size:16px;font-weight:bold;line-height:16px}
.productTile .price del{font-size:12px;color:#9A9B9B;padding-left:5px}
.productTile .ratingS{font-weight:normal;line-height:12px;margin-top:4px;width:auto;font-size:12px}
.productTile .adiType{position:absolute;left:10px;top:13px}
.productTile.hover .productTileWrapper{box-shadow:0 0 15px #5C5C5C;z-index:3;background:#fff}

.productTile .colorCarousel,.productTile.hover .productInfo,.productTile .selectSize,.productTile .buttons,.productTile .adiType{display:none}
.productTile.hover .buttons,.productTile.showSizes .closeButton,.productTile.hover .adiType,.productTile.hover .colorCarousel{display:block}
.productTile.hover .adiType{z-index: 5}
.productTile .colorCarousel{width:168px;margin:0 auto;position:relative;padding:7px 0 14px;height:74px}
.productTile .slides{height:53px;overflow:hidden}
.productTile .slides li{display:block;float:left;width:52px;height:53px;margin-right:4px;cursor:pointer}
.productTile .slides li img{width:50px;height:50px;display:block;border:1px solid #fff;border-bottom:3px solid #fff}
.productTile .slides li.active img{border:1px solid #e7e8e8;border-bottom:3px solid #080808}
.productTile .slides li:hover img{border:1px solid #e7e8e8;border-bottom:3px solid #0286cd}
.productTile .productInfoWrapper{padding:0 10px}
.productTile .buttons{margin:16px 0 10px}
.productTile .buttons button{width:100%;cursor:pointer}

.productTileWrapper .closeButton{background-color:#FFFFFF;font-size:0;line-height:0;border:1px solid #CCCCCC;cursor:pointer;display:block;height:26px;position:absolute;right:0;top:-26px;width:26px;background-position:1px 1px}
.productTile .closeButton{display:none}
.productTile.showSizes .selectSize{display:block;width:210px;margin:15px 0 10px}
.productTile .disabled{filter:none;background:#c8cbcc;cursor:default}
.productTile .disabled:hover{border:none;padding:13px 0}

.colorCarousel .flex-direction-nav a{display:block;position:absolute;top:25px;width:10px;height:18px;opacity:1;margin:0}
.colorCarousel .flex-direction-nav .flex-prev{background-position:0 -294px;left:-20px}
.colorCarousel .flex-direction-nav .flex-next{background-position:-25px -294px;right:-15px}

.labelNew{position:absolute;top:45px;left:0;z-index:1}
.productTile.hover .labelNew{z-index:4}

/*leftNav,20150727,shadow*/
.leftNav{border:1px solid #EDEDED;padding:0 10px 15px 10px}
.leftNavTitle{font-size:16px;line-height:16px;font-weight:bold;padding:20px 0 0 0;display:block}
.lngTitle{display:block;margin:15px 0 0;padding:15px 30px 0 0;border-top:1px dotted #C8CBCC;min-height:26px;position:relative;font-size:16px;line-height:26px;font-weight:bold;cursor:pointer;background-position:174px -33px}
.lngTitle.collapsed{background-position:171px -77px}
.lngTitle:before{border:1px solid #EEEEEE;content:"";position:absolute;right:0;top:15px;width:26px;height:26px}
.lngTitle:hover{color:#000}
.lngTitle span{display:inline-block;vertical-align:middle;height:26px;line-height:26px}
.lngTitle em{display:inline-block;float:right}
.lngContent{padding:0 0 10px 15px}
.lngContent a{display:block;margin-top:15px;font-size:14px;line-height:14px}
.lngContent a.cur{font-weight:bold;color:#0286cd}

.leftQuickLinks{background-color:#e7e8e8;padding:25px 25px 10px;margin-top:20px}
.lqlTit{display:block;font-size:16px;line-height:16px;font-weight:bold;margin-bottom:25px}
.lqlContet a{display:block;margin-bottom:15px;font-size:14px;line-height:14px}

/*common, namespace:cloading,20150706,louis*/
.productKv{width:100%;height:400px;overflow: hidden}
.productKv .slider{width:1920px;height:380px;position: relative;left:50%;margin-left:-960px}
.kvInfo{width:950px;position:absolute;left:50%;margin-left:-475px;padding:0 50px;top:50%;display:none}
.kvInfo p{max-width:350px;line-height:20px}
.kvInfo h2{font-weight:bold;font-size:72px;font-family:"adi13wfBold","黑体"}
.loading{position: absolute;top:0;left:0;background:rgba(255,255,255,0.9);width:100%;height:100%;z-index: 100;display:none}
.loading .loading-carousel-img{width:64px;height:64px;background:url('../imgs/loading.gif');margin:-32px 0 0 -32px;position: absolute;top:50%;left:50%}
.carouselImages-viewport ul li{position:absolute;top:0;left:0}
.carouselImages-viewport ul li.cur{display:block}
.carouselImages-viewport ul li.cur .kvInfo{display:block}
.carouselImages-direction-round,.cbImgList-direction-round{display:inline-block;position: absolute;bottom:-20px;left:50%}
.carouselImages-direction-round span,.cbImgList-direction-round span{display:block;float: left;cursor:pointer;margin-right:10px;width:30px;background:#c8cbcc;height:5px}
.carouselImages-direction-round span.last,.cbImgList-direction-round span.last{margin-right:0}
.carouselImages-direction-round span.cur,.cbImgList-direction-round span.cur{background:#000000}
.carouselImages-direction-round span em,.cbImgList-direction-round span em{display:none}
.carouselImages-prev,.carouselImages-next{width:27px;height:48px;display:block;top:50%;margin-top:-24px;position:absolute;cursor:pointer}
.carouselImages-prev{background-position:0 -136px;left:0}
.carouselImages-next{background-position:-32px -136px;right:0}
.darkKvBg .carouselImages-prev{background-position:0 -192px}
.darkKvBg .carouselImages-next{background-position:-32px -192px}
.carouselImages-direction-nav{position: absolute;top:195px;left:50%;width:950px;margin-left:-475px;z-index:3}


/**common rating,20150805,sww**/
.proStar{background:url('../imgs/rating_star.png') repeat-x 0 0;cursor:pointer}
.proStar span{background:url('../imgs/rating_star.png') repeat-x 0 -17px}
.proStar{display:inline-block;margin:0;height:15px;width:130px;overflow:hidden}
.proStar span{float:left;height:15px}
.proStar.show span{width:100%}



@media screen and (max-width:860px){
  .flex-direction-nav .flex-prev{opacity:1;left:0}
  .flex-direction-nav .flex-next{opacity:1;right:0}
}

.blur{
    filter: url(blur.svg#blur);/* FireFox, Chrome, Opera */

    -webkit-filter: blur(5px);/* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(5px);
            filter: blur(10px);

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);/* IE6~IE9 */
}
/*20160503, louis*/
.popup.closePage{display:none}
.popup.closePage .popupContentBox{padding:26px 20px 30px 20px;width:492px;box-shadow:0 0 25px #404040;-webkit-box-shadow:0 0 20px #404040;-moz-box-shadow:0 0 20px #404040}
.popup.closePage .title{display:block;font-size:24px;text-align:left;font-weight:bold}
.popup.closePage .info{display:block;min-height:70px;height:auto;text-align:left;padding:15px 0 0 0}
.popup.closePage .buttonset{position:relative}
.popup.closePage .buttonset .continue{float:left;margin:0 10px 0 0;width:315px;height:46px;font-size:17px;font-weight:bold}
.popup.closePage .buttonset .cancel{float:left;width:127px;height:46px; background:#000000;font-size:17px;font-weight:bold}
.popup.closePage .closePageBg{position: fixed;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;opacity: .5;filter: alpha(opacity=50); background: #000;z-index: 9998;}

.adidasLogo img{
    height: 44px;
    width: 64px;
}
.headCategory{background:#fff;height:40px;line-height:40px;width:100%;border-bottom:1px solid #b7b8b8;box-shadow:0 0 1px rgba(0,0,0,0.3)}
.headCategory .col4,.headCategory .col6{padding:0}
.headCategory .wrapper{padding-left:175px}
.headCategory span:before{height:23px;width:23px;display:inline-block;vertical-align:middle;margin-right:10px}
.headCategory span.headSaleNav:before{background-position:-110px -48px}
.headCategory span.headReplaceNav:before{background-position:-135px -48px}
.headCategory span.headRegistNav:before{background-position:-160px -48px}
.headCategory span:after{background-position:right -48px;width:12px;height:12px;display:inline-block;vertical-align:middle;margin:-2px 0 0 10px}

